{% extends 'base.html.twig' %}
{# HEAD #}
{% block title %}Accueil{% endblock %}
{# HEADER#}
{% block headerTitle %}<i class="text-danger fas fa-dice-d20"></i> AppJdr{% endblock %}
{% block headerParagraphTitle %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum fugiat quo ut voluptates voluptatum.{% endblock %}
{% block headerSubtitle %}Bienvenue{% endblock %}
{% block headerParagraph %}Lorem ipsum dt. Incidunt, quaerat? adipisicing elit. Incidunt, quaerat?{% endblock %}
{% block headerBadge %}{% endblock %}
{% block buttonHeader %}<i class="fas fa-user-plus"></i> Inscrivez-vous gratuitement !{% endblock %}
{% block buttonLinkHeader %}{{ path('account_registration') }}{% endblock %}

{% block headerImage %}{% endblock %}
{# BODY#}
{% block infoTitle %}Services{% endblock %}

{% block info %}
    {#            ARTICLE #}
    <article class="card bg-secondary mt-3 text-center border-secondary border mt-4">
        <div class="card-header bg-primary">
            <h4 class="card-title"><i class="fas fa-users"></i> Trouver des joueurs</h4>
        </div>
        <div class="card-body">
            <p class=" h5 card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
        </div>
    </article>
    {#            ARTICLE #}
    <article class="card border-secondary border bg-secondary p-0 text-center mt-4">
        <div class="card-header bg-primary">
            <h4 class="card-title"><i class="fas fa-users-cog"></i> Crée des vos tables</h4>
        </div>
        <div class="card-body">
            <p class=" h5 card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
        </div>
    </article>
    {#            ARTICLE #}
    <article class="card border-secondary bg-secondary p-0 text-center mt-4">
        <div class="card-header bg-primary">
            <h4 class="card-title"><i class="fas fa-dice"></i> Lancer des dés</h4>
        </div>
        <div class="card-body">
            <p class=" h5 card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
        </div>
    </article>
{% endblock %}
{#      LAST GAME #}
{% block bodyTitle %}Derniere partie{% endblock %}
{% block body %}
    <div class="row justify-content-around p-3">
        {% for game in games %}
            <article class="card col-12 col-md-6 bg-secondary shadow-lg p-1 mx-auto border-primary mb-4">
                <header class="card-header bg-primary border border-secondary shadow-lg">
                    <a href="{{ path('showCategory', {'slug': game.gamebook.category.slug}) }}"><span class="badge badge-info small m-1
                    float-right">{{ game.gamebook.category.icon | raw }} {{ game.gamebook.category.title }}</span></a>
                    <a href="{{ path('showGamebook', {'slug': game.gamebook.slug}) }}"><span class="badge badge-info small m-1
                    float-right">{{ game.gamebook.icon | raw }} {{ game.gamebook.title }}</span></a>
                    <h4>{{ game.title }}</h4>
                </header>
                <div class="card-body bg-secondary">
                    <p class="card-text h5">{{ game.shortDescription }}</p>
                    <a href="{{ path('game', {'id': game.id, 'slug': game.slug}) }}" class="btn btn-success text-light
float-right">Accéder au salon</a>
                </div>
                <footer class="card-footer text-light">
                    <span>Prochaine partie le {{ game.nextGameAt | date }}</span><br>
                    <span>Serveur Vocal: {{ game.vocalServer.icon | raw }} {{ game.vocalServer.name }}</span>
                </footer>
            </article>
        {% endfor %}
    </div>
{% endblock %}
