{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}
{% block headerTitle %}{{ category.title }}{% endblock %}
{% block headerSubtitle %}{{ category.shortDescription }}{% endblock %}
    {% block buttonHeader %}<i class="fas fa-user-plus"></i> Inscrivez-vous gratuitement !{% endblock %}
    {% block buttonLinkHeader %}{{ path('account_registration') }}{% endblock %}
{% block infoTitle %}
    {{ category.icon | raw }} {{ category.title }}
{% endblock %}

{% block info %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eaque esse eum harum impedit iste minus non quae, quas quo
        reiciendis repellendus ut, vero! Adipisci alias aliquam commodi consectetur, culpa cumque cupiditate deserunt dicta dolore dolorem
        eaque enim fugit inventore magni maxime mollitia non obcaecati odit pariatur quasi qui quidem, repellat reprehenderit repudiandae
        sapiente suscipit voluptate. Accusantium adipisci alias aperiam aspernatur beatae blanditiis consequuntur corporis culpa, ducimus
        enim et ex expedita fugit harum in ipsa ipsam iure modi molestias natus nobis nostrum numquam provident quam quidem reiciendis
        repellat rerum saepe similique soluta temporibus tenetur velit voluptate! Explicabo quam, voluptas. Illo.</p>
{% endblock %}
{% block bodyTitle %}
    Nos tables
{% endblock %}

{% block body %}
            {% for gamebook in category.gamebook %}
                <hr>
        <h4 CLASS="mb-3 text-center ">{{ gamebook.title }}</h4>
        <hr>
                <div class="row justify-content-around p-3">
                    {% for game in gamebook.game %}
                        <article class="card col-12 col-md-6 bg-secondary shadow-lg p-1 mx-auto border-primary mb-4">
                            <header class="card-header bg-primary border border-secondary shadow-lg">
                                <a href="{{ path('showCategory', {'slug': game.gamebook.category.slug}) }}"><span class="badge badge-info small m-1
                    float-right">{{ game.gamebook.category.icon | raw }} {{ game.gamebook.category.title }}</span></a>
                                <a href="{{ path('showGamebook', {'slug': game.gamebook.slug}) }}"><span class="badge badge-info small m-1
                    float-right">{{ game.gamebook.icon | raw }} {{ game.gamebook.title }}</span></a>
                                <h4>{{ game.title }}</h4>
                            </header>
                            <div class="card-body bg-secondary">
                                <p class="card-text h5">{{ game.shortDescription }}</p>
                                <a href="{{ path('game', {'id': game.id, 'slug': game.slug}) }}" class="btn btn-success text-light
float-right">Accéder au salon</a>
                            </div>
                            <footer class="card-footer text-light">
                                <span>Prochaine partie le {{ game.nextGameAt | date }}</span><br>
                                <span>Serveur Vocal: {{ game.vocalServer.icon | raw }} {{ game.vocalServer.name }}</span>
                            </footer>
                        </article>
                    {% endfor %}
                </div>
    {% endfor %}
{% endblock %}
