{% extends 'base.html.twig' %}
{# HEAD #}
{% block title %}Créez vos parties{% endblock %}
{# HEADER#}
{% block headerTitle %}Créer vos parties{% endblock %}
{% block headerParagraphTitle %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum fugiat quo ut voluptates voluptatum.{% endblock %}
{% block headerSubtitle %}Bienvenue{% endblock %}
{% block headerParagraph %}Lorem ipsum dt. Incidunt, quaerat? adipisicing elit. Incidunt, quaerat?{% endblock %}
{% block headerBadge %}{% endblock %}
{% block buttonHeader %}<i class="fas fa-user-plus"></i> Inscrivez-vous gratuitement !{% endblock %}
{% block buttonLinkHeader %}{{ path('account_registration') }}{% endblock %}
{% block headerImage %}{% endblock %}
{# INFO#}
{% block infoTitle %}Info{% endblock %}
{% block info %}<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium asperiores deleniti, doloribus fugit illo
    libero, nemo nisi officia suscipit unde voluptates? Deserunt, fuga, tenetur!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium asperiores deleniti, doloribus fugit illo
        libero, nemo nisi officia suscipit unde voluptates? Deserunt, fuga, tenetur!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium asperiores deleniti, doloribus fugit illo
        libero, nemo nisi officia suscipit unde voluptates? Deserunt, fuga, tenetur!</p>
{% endblock %}



{% block bodyTitle %}Création de partie{% endblock %}
{% form_theme form _self %}
{% block body %}
    <div class="col-12 mx-auto border border-primary p-3 shadow">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Création de partie</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _game_gameSlides_widget %}
    <p class="h6">Image du diaporama</p>
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">
    <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
{% endblock %}

{% block _game_gameSlides_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _game_gameSlides_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-primary">x</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _game_gameBattleMaps_widget %}
    <p class="h6">Carte de combat</p>
    {{ form_widget(form) }}
    <button type="button" id="add-image1" class="btn btn-primary">Ajouter une carte</button>
{% endblock %}

{% block _game_gameBattleMaps_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _game_gameBattleMaps_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-primary">x</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _game_gameImages_widget %}
    <p class="h6">Image</p>
    {{ form_widget(form) }}
    <button type="button" id="add-image2" class="btn btn-primary">Ajouter une aide de jeu</button>
{% endblock %}

{% block _game_gameImages_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _game_gameImages_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-primary">x</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-image').click(function () {
            const index = +$('#widgets-counter').val();
            console.log(index);
            const tmpl = $('#game_gameSlides').data('prototype').replace(/__name__/g, index);
            $('#game_gameSlides').append(tmpl);
            $('#widgets-counter').val(index + 1);

            handleDeleteButtons();
        });

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function () {
                const target = this.dataset.target;
                $(target).remove()
            });
        }

        handleDeleteButtons();
    </script>
    <script>
        $('#add-image1').click(function () {
            const index = $('#game_gameBattleMaps div.form-group').length;
            const tmpl = $('#game_gameBattleMaps').data('prototype').replace(/__name__/g, index);
            $('#game_gameBattleMaps').append(tmpl);

            handleDeleteButtons();
        });

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function () {
                const target = this.dataset.target;
                $(target).remove()
            });
        }

        handleDeleteButtons();
    </script>
    <script>
        $('#add-image2').click(function () {
            const index = $('#game_gameImages div.form-group').length;
            const tmpl = $('#game_gameImages').data('prototype').replace(/__name__/g, index);
            $('#game_gameImages').append(tmpl);

            handleDeleteButtons();
        });

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function () {
                const target = this.dataset.target;
                $(target).remove()
            });
        }

        handleDeleteButtons();
    </script>
{% endblock %}
