{% extends 'base.html.twig' %}
{# HEAD #}
{% block title %}{{ game.title }}{% endblock %}
{# HEADER#}
{% block headerTitle %}{{ game.title }}{% endblock %}
{% block headerParagraphTitle %}{% endblock %}
{% block headerSubtitle %}AppJdr{% endblock %}
{% block headerParagraph %}Lorem ipsum dt. Incidunt, quaerat? adipisicing elit. Incidunt, quaerat?{% endblock %}
{% block headerBadge %}
    <button class="btn btn-primary mr-1 btn-sm small float-right">{{ game.gamebook.category.icon | raw }} {{ game
        .gamebook.category.title }}</button>
    <button class="btn btn-primary mr-1 btn-sm small float-right">{{ game.gamebook.icon | raw }} {{ game.gamebook
        .title }}</button>
{% endblock %}
{% block headerImage %}{{ game.coverImage }}{% endblock %}
{% block buttonHeader %}<i class="fas fa-user-plus"></i> Inscrivez-vous gratuitement !{% endblock %}
{% block buttonLinkHeader %}{{ path('table', {'id': game.id}) }}{% endblock %}

{% block infoTitle %}Table{% endblock %}
{% block info %}
    <div class="col border border-secondary shadow-lg p-3">
        <h4 class="text-center">Maître du jeu</h4>
        <p class="text-center"> <i class=" h1 fas fa-user"></i>
            <br>{{ game.owner.nickName }}
            <br>{{ game.owner.games | length }}</p>
        <hr class="bg-secondary">
        {% if game.owner is same as (app.user) %}
            <a href="#" class="col-12 btn btn-primary btn-sm small" data-toggle="modal" data-target="#test"><i class="fas
            fa-user-plus"></i> Ajouter Ajouter un joueur(se)</a>
            <hr class="bg-secondary">

        {% endif %}

            <div class="row bg-primary p-1">
                <h5 class="col-4 pt-0">PJ</h5>
            </div>
            <div class="row justify-content-between col-12 mx-auto">
                {% for user in usergames %}
                    {% if app.user == user.users() %}{% endif %}
                    <div class="card p-2 text-center bg-secondary col-6 border border-primary shadow-lg {% if app.user == user.users() %}d-none{% endif %}">

                        <i class=" h1 fas fa-user"></i>
                        <h5>{{ user.users.nickName }}</h5>
                    </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}
{% block bodyTitle %}{{ game.title }}{% endblock %}
{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slide in game.gameSlides %}
                <li data-target="#carouselExampleIndicators"
                    data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slide in game.gameSlides %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{ slide.url }}" alt="First slide">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ game.title }}</h5>
                    <p>{{ game.shortDescription }}</p>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-12 mx-auto border border-primary mt-2 bg-primary p-3">
        <hr>
        <h4 class="col-4 mx-auto text-center">Description</h4>
        <hr>
        <p class="text-decoration-none">{{ game.longDescription | raw }}</p>
    </div>





        <div class="modal fade" id="test" tabindex="-1" role="dialog" aria-labelledby="signLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="signLabel"><em class="fa fa-user-plus">Titre</em></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo MOD_CLOSE ?>">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-secondary">
                        <div class="container">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-primary">encoyer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
