{% extends 'base.html.twig' %}
{# HEAD #}
{% block title %}{{ game.title }}{% endblock %}
{# HEADER#}
{% block headerTitle %}{{ game.title }}{% endblock %}
{% block headerParagraphTitle %}{% endblock %}
{% block headerSubtitle %}AppJdr{% endblock %}
{% block headerParagraph %}Lorem ipsum dt. Incidunt, quaerat? adipisicing elit. Incidunt, quaerat?{% endblock %}
{% block headerBadge %}
    <span class="badge badge-info m-1 float-right">{{ game.gamebook.category.title }}</span>
    <span class="badge badge-info m-1 float-right">{{ game.gamebook.title }}</span>
{% endblock %}
{% block headerImage %}{{ game.coverImage }}{% endblock %}
{% block buttonHeader %}<i class="fas fa-user-plus"></i> Rejoingnez la table !{% endblock %}
{% block buttonLinkHeader %}{{ path('table', {'id': game.id}) }}{% endblock %}

{% block infoTitle %}Table{% endblock %}
{% block info %}
    <div class="col card bg-secondary mb-1">
        <hr>
        <h4 class="text-center">Info</h4>
        <hr>
        <h5>Prochaine partie : {{ game.nextGameAt | date }}</h5>
        <h5>Serveur Vocal : {{ game.vocalServer.icon | raw }} {{ game.vocalServer.name }}</h5>
    </div>
    <div class="col border border-secondary card bg-primary  border shadow-lg p-3 mb-1">
        <hr class="bg-secondary">
        <h4 class="text-center">Maître du jeu</h4>
        <hr class="bg-secondary">
        <p class="text-center"><i class=" h1 fas fa-user"></i>
            <br>{{ game.owner.nickName }}
        <p>Membre depuis le : {{ game.owner.createdAt | date ('d-m-Y ') }} <span
                    class="badge badge-info text-uppercase float-right">{{ game.owner.games | length }} Partie crée</span></p>
        {% if game.owner is same as (app.user) %}
            <a href="#" class="col-12 btn btn-primary btn-sm small" data-toggle="modal" data-target="#test"><i class="fas
            fa-user-plus"></i> Ajouter un joueur(se)<a/a>
            <hr class="bg-secondary">

            <a href="{{ path('edit', {'id': game.id,'slug': game.slug }) }}" class="col-12 btn btn-primary btn-sm small"><i
                        class="fas
            fa-user-plus"></i> Modifier la partie</a>
        {% endif %}
    </div>
        <div class="col border border-primary card bg-secondary border shadow-lg p-3">
        <hr>
        <h5 class="text-center">Joueurs(euses)</h5>
        <hr>
        <div class="row justify-content-between col-12 mx-auto">
            {% for user in usergames %}
                <div class="card p-2 text-center bg-secondary col-6 border border-primary shadow-lg {% if app.user == user.users() %}d-none{% endif %}">
                    {% if game.owner is same as (app.user) %}
                        <p class="text-right"><a href="" class="btn btn-primary btn-sm col-4"><i class="fas fa-user-minus"></i></a></p>
                    {% endif %}
                    <p><i class=" h1 fas fa-user"></i></p>
                    <h6>{{ user.users.nickName }}</h6>
                    <h6>{{ user.users.createdAt | date }}</h6>
                </div>
            {% endfor %}
        </div>
        </div>

{% endblock %}
{% block bodyTitle %}{{ game.title }}{% endblock %}
{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide col-10 mx-auto" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slide in game.gameSlides %}
                <li data-target="#carouselExampleIndicators"
                    data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slide in game.gameSlides %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img class="d-block" src="{{ slide.url }}" alt="First slide">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ game.title }}</h5>
                    <p>{{ game.shortDescription }}</p>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-12">
        <hr>
        <h4 class="text-center">Description</h4>
        <hr>
        <div class="col card bg-primary">

        <p class="text-decoration-none">{{ game.longDescription | raw }}</p>
        </div>
    </div>





        <div class="modal fade" id="test" tabindex="-1" role="dialog" aria-labelledby="signLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="signLabel"><em class="fa fa-user-plus">Titre</em></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo MOD_CLOSE ?>">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-secondary">
                        <div class="container">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-primary">encoyer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
