{% extends "basetable.html.twig" %}

    {% block body %}
<body background="{{ game.gameBattleMaps[0].url}}" style="background-size: 100% 100%;background-repeat: no-repeat;background-position-y:
90px;"
      class="bg-secondary
container-fluid text-light p-0">
{% include "/partials/navbar.html.twig" %}

<select id="tool">
    <option value="brush">Brush</option>
    <option value="eraser">Eraser</option>
</select>


            <div id="container"></div>



        {% for note in game.gameNotes %}
        <div class="modal fade" id="note{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="signLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="signLabel"><em class="fa fa-book"> {{ note.title }}</em></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo MOD_CLOSE ?>">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-secondary">
                        <h6>{{ note.title }}</h6>
                        <p>{{ note.content }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% for image in game.gameImages %}
        <div class="modal fade col-12" id="note{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="signLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog" style="max-width: 60%;" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="signLabel"><em class="fa fa-book"> {{ image.title }}</em></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo MOD_CLOSE ?>">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-secondary">
                        <img class="border col-12" src="{{ image.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
            <div id="desc">

                <div id="mySidenav" class="sidenav overflow-auto bg-secondary text-light card bg-secondary text-danger p-0"
                     style="height: 40px;width: 200px;overflow: auto">

                    <button href="javascript:void(0)" id="btnOpen" class="btn-primary" style="display: block" onclick="openNav()"><i
                                class="fas fa-lock-open"></i> Ouvrir les
                        aide de jeu
                    </button>
                    <button href="javascript:void(0)" id="btnClose" class=btn-primary style="display: none" onclick="closeNav()"><i
                                class="fas fa-lock"></i> Fermer les aides de jeu</button>

                    <ul id="test" style="display: none" class="pt-3 list-unstyled text-center">

                        <li>
                            <a class="btn-primary btn col-11 mx-auto text-light h3 font-weight-bold m-1" data-toggle="collapse"
                               href="#collapseImage"
                               role="button"
                               aria-expanded="false"
                               aria-controls="collapseExample">PJ</a>
                            <div class="collapse" id="collapseImage">
                                <div class="card card-body bg-secondary border border-primary">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                                    anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="btn-primary btn col-11 mx-auto text-light h3 font-weight-bold m-1" data-toggle="collapse"
                               href="#collapseMap"
                               role="button"
                               aria-expanded="false"
                               aria-controls="collapseMap">PNJ</a>
                            <div class="collapse" id="collapseMap">
                                <ul>

                                    {% for slide in game.gameSlides %}
                                        <li>{{ slide.caption }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <hr>
                        <li>
                            <a class="btn-primary btn col-11 mx-auto text-light h3 font-weight-bold m-1" data-toggle="collapse"
                               href="#collapseMap1"
                               role="button"
                               aria-expanded="false"
                               aria-controls="collapseMap">Note</a>
                            <div class="collapse" id="collapseMap1">
                                <ul>

                                    {% for note in game.gameNotes %}
                                        <li><a href="#" data-toggle="modal"
                                                               data-target="#note{{ note.id }}">{{ note.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="btn-primary btn col-11 mx-auto text-light h3 font-weight-bold m-1" data-toggle="collapse"
                               href="#collapseMap2"
                               role="button"
                               aria-expanded="false"
                               aria-controls="collapseMap2">Image</a>
                            <div class="collapse" id="collapseMap2">
                                <ul>

                                    {% for image in game.gameImages %}
                                        <li><a href="#" data-toggle="modal"
                                               data-target="#note{{ image.id }}">{{ image.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="btn-primary btn col-11 mx-auto text-light h3 font-weight-bold m-1" data-toggle="collapse"
                               href="#collapseAideDeJeu"
                               role="button"
                               aria-expanded="false"
                               aria-controls="collapseAideDeJeu">Aide de jeu</a>
                            <div class="collapse" id="collapseAideDeJeu">
                                <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                                    anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div id="mySidenavChat" class="sidenavChat overflow-hidden text-light card bg-secondary text-danger p-0"
                 style="height: 40px;width:
    200px;overflow: auto" draggable="true" ondragstart="drag(event)">

                <button href="javascript:void(0)" id="btnOpenChat" class="btn-primary" style="display: block" onclick="openNavChat()"><i
                            class="fas fa-lock-open"></i> Ouvrir le chat
                </button>
                <button href="javascript:void(0)" id="btnCloseChat" class=btn-primary style="display: none" onclick="closeNavChat()
"><i class="fas fa-lock"></i> Fermer le chat</button>

                <div class="container bg-primary">
                    <div class="row chat-window col-md-12" id="chat_window_1">
                        <div>
                            <div class="panel panel-default border border-primary">
                                <div class="panel-body msg_container_base overflow-auto col-12 bg-secondary mx-auto" style="height: 150px;">
                                    <div class="row msg_container base_receive">
                                        <div class="col-xs-10 col-md-10">
                                            <div class="messages msg_receive">
                                                <p>that mongodb thing looks good, huh?
                                                    tiny master db, and huge document store</p>
                                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row msg_container base_sent">
                                        <div class="col-xs-10 col-md-10">
                                            <div class="messages msg_sent">
                                                <p>that mongodb thing looks good, huh?
                                                    tiny master db, and huge document store</p>
                                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row msg_container base_receive">
                                        <div class="col-xs-10 col-md-10">
                                            <div class="messages msg_receive">
                                                <p>that mongodb thing looks good, huh?
                                                    tiny master db, and huge document store</p>
                                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row msg_container base_sent">
                                        <div class="col-md-10 col-xs-10 ">
                                            <div class="messages msg_sent">
                                                <p>that mongodb thing looks good, huh?
                                                    tiny master db, and huge document store</p>
                                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm chat_input"
                                           placeholder="Write your message here..."/>
                                    <span class="input-group-btn"><button class="btn btn-secondary btn-sm" id="btn-chat">Send</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="mySidenavDice" class="sidenavDice overflow-hidden bg-secondary text-light card text-danger p-0"
                 style="height: 40px;width:
    200px;overflow: auto">

                <button href="javascript:void(0)" id="btnOpenDice" class="btn-primary" style="display: block" onclick="openNavDice()
"><i class="fas fa-lock-open"></i> Ouvrir le sac de dés
                </button>
                <button href="javascript:void(0)" id="btnCloseDice" class="btn-primary h5" style="display: none" onclick="closeNavDice()
"><i class="fas fa-lock"></i> Fermer le sac de dés</button>
                <div class="row col-12 pl-5 mt-3 justify-content-between">
                    <a class="btn btn-primary btn-sm small p-0 col-2" style="height: 30px;">D1</a>
                    <a class="btn btn-primary btn-sm small p-0 col-2" style="height: 30px;">D2</a>
                    <a class="btn btn-primary btn-sm small p-0 col-2" style="height: 30px;">D3</a>
                    <a class="btn btn-primary btn-sm small p-0 col-2" style="height: 30px;">D4</a>
                    <a class="btn btn-primary btn-sm small p-0 col-2" style="height: 30px;">D5</a>
                    <a class="btn btn-primary btn-sm small p-0 col-2" style="height: 30px;">D6</a>
                </div>
            </div>

        {#        <div class="col-3 card bg-secondary border border-primary p-3">#}

        {#            <ul class="nav nav-tabs" id="myTab" role="tablist">#}
        {#                <li class="nav-item">#}
        {#                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"#}
        {#                       aria-selected="true">Biographie</a>#}
        {#                </li>#}
        {#                <li class="nav-item">#}
        {#                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"#}
        {#                       aria-selected="false">Inventaire</a>#}
        {#                </li>#}
        {#                <li class="nav-item">#}
        {#                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"#}
        {#                       aria-selected="false">Note</a>#}
        {#                </li>#}
        {#            </ul>#}
        {#            <div class="tab-content" id="myTabContent">#}
        {#                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nemo.</p>#}
        {#            </div>#}
        {#        </div>#}
        {% include "/partials/tablefooter.html.twig" %}
    {% endblock %}