{% extends "basetable.html.twig" %}

{% block body %}

{#    <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#register">Inscription</a>#}
    {% for note in game.gameNotes %}

    <div class="modal fade" id="{{ note.title }}" tabindex="-1" role="dialog" aria-labelledby="signLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="signLabel"><em class="fa fa-user-plus">Titre</em></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo MOD_CLOSE ?>">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-secondary">
                    <h6>Titre</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid deserunt ducimus id ipsam laudantium molestias,
                        mollitia necessitatibus nesciunt repellendus reprehenderit sit totam. Ad dolore et fugiat labore laboriosam, natus,
                        provident quod recusandae reiciendis saepe tempora veritatis voluptas voluptates? Commodi dolorum explicabo, harum
                        ipsum libero numquam praesentium quaerat ratione rerum.</p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}



    <div id="mySidenav" class="sidenav overflow-auto bg-secondary text-light card bg-secondary text-danger p-0" style="height: 40px;width:
    200px;overflow: auto">

        <button href="javascript:void(0)" id="btnOpen" class="btn-primary" style="display: block" onclick="openNav()">Ouvrir les
            aide de jeu
        </button>
        <button href="javascript:void(0)" id="btnClose" class=btn-primary style="display: none" onclick="closeNav()"><i class="fas
        fa-dice-d20"></i></button>

        <ul id="test" style="display: none" class="pl-5 list-unstyled">

            <li>
                <a class="nav-item h3 font-weight-bold text-light" data-toggle="collapse" href="#collapseImage" role="button"
                   aria-expanded="false"
                   aria-controls="collapseExample">PJ</a>
                <div class="collapse" id="collapseImage">
                    <div class="card card-body bg-secondary border border-primary">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh
                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </li>
            <li>
                <a class="nav-item text-light h3 font-weight-bold" data-toggle="collapse" href="#collapseMap" role="button"
                   aria-expanded="false"
                   aria-controls="collapseMap">PNJ</a>
                <div class="collapse" id="collapseMap">
                    <ul>

                        {% for slide in game.gameSlides %}
                            <li>{{ slide.caption }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <a class="nav-item text-light h3 font-weight-bold" data-toggle="collapse" href="#collapseMap1" role="button"
                   aria-expanded="false"
                   aria-controls="collapseMap">Image</a>
                <div class="collapse" id="collapseMap1">
                    <ul>

                        {% for note in game.gameNotes %}
                            <li>{{ note.title }}</li>
                    <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#{{ note.title }}">Inscription</a>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <a class="nav-item text-light h3 font-weight-bold" data-toggle="collapse" href="#collapseMap2" role="button"
                   aria-expanded="false"
                   aria-controls="collapseMap2">Note</a>
                <div class="collapse" id="collapseMap2">
                        <ul>

                            {% for note in game.gameNotes %}
                                <li>{{ note.title }}</li>
                            {% endfor %}
                        </ul>
                </div>
            </li>
            <li>
                <a class="nav-item text-light h3 font-weight-bold" data-toggle="collapse" href="#collapseAideDeJeu" role="button"
                   aria-expanded="false"
                   aria-controls="collapseAideDeJeu">Aide de jeu</a>
                <div class="collapse" id="collapseAideDeJeu">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh
                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="col-3 card bg-secondary border border-primary p-3">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Biographie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">Inventaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                   aria-selected="false">Note</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nemo.</p>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("btnOpen").style.display = "none";
            document.getElementById("btnClose").style.display = "block";
            document.getElementById("test").style.display = "block";
            document.getElementById("mySidenav").style.width = "450px";
            document.getElementById("mySidenav").style.height = "800px";
            document.getElementById("main").style.marginRight = "250px";
        }

        function closeNav() {
            document.getElementById("btnOpen").style.display = "block";
            document.getElementById("btnClose").style.display = "none";
            document.getElementById("test").style.display = "none";
            document.getElementById("mySidenav").style.width = "200px";
            document.getElementById("mySidenav").style.height = "40px";
            document.getElementById("main").style.marginRight = "0";
        }

        $("#myModal").draggable({
            handle: ".modal-header"
        });

    </script>

{% endblock %}